<div>
  <mat-toolbar class="header" color="primary">
    <!-- Logo -->
    <div style="display: flex;">
      <img src="/assets/ai-generated-logo.ico" alt="Logo" style="height: 40px; width: auto;border-radius: 25px;" height="30" width="28">
    </div>

    <!-- Navigation Links -->
    <div class="nav-list">
      <button mat-button [routerLink]="['']">Home</button>
      <button mat-button [matMenuTriggerFor]="categoryMenu">Categories</button>
      <mat-menu #categoryMenu="matMenu">
        <button mat-menu-item *ngFor="let category of categories" [routerLink]="category.link">
          {{ category.label }}
        </button>
      </mat-menu>
      <button mat-button routerLink="/checkout">Checkout</button>
    </div>
    <!-- Search Bar -->
    <div class="search-bar">
      <app-product-search-bar></app-product-search-bar>
    </div>
    <!-- Spacer -->
    <span class="spacer"></span>


    <!-- Shopping Cart -->
    <mat-icon matBadge="{{ cartItemsCount$ | async }}" matBadgeColor="warn" (click)="toggleOverlay()">
      shopping_cart
    </mat-icon>

    <div class="nav-list">
      <button mat-button routerLink="/login">Sign in</button>
    </div>
  </mat-toolbar>
  <app-cart-widget *ngIf="toggle"
                   (closeClicked)="toggleOverlay()">
  </app-cart-widget>
</div>
