<div class="content">
  <div>
    <app-side-filter [facetList]="facetList"></app-side-filter>
  </div>
  <div>
    <mat-paginator
      [length]="totalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>
    <div *ngIf="items$ as items;">
      <app-product-list-item [items]="items$ | async">
      </app-product-list-item>
    </div>
    <ng-container *ngIf="!(items$ | async)">
      <mat-spinner></mat-spinner>
    </ng-container>
    <mat-paginator
      [length]="totalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>


